
$button-color: #eee;
$button-color-disabled: #999;
$button-border-color: #000;
$button-hover-color: #fbfbfb;

@font-face {
  font-family: 'Digital 7';
  src: url("digital-7.ttf");
}

body, 
html {
//  position: fixed;
    margin: 0px;
    font-family: Verdana,tahoma,arial,helvetica,sans-serif;
}

.hidden {
    display: none;
}

#container {
  position: absolute;
  top: 42px;
  width: 700px;
  height: 558px;
  overflow: hidden;
}

#target-number {
  position: absolute;
  left: 268px;
  top: 46px;
  width: 124px;
  height: 80px;
  background-color: #222;
  color: white;
  border-radius: 6px;
  border: 2px solid #666;
  padding-left: 14px;
  padding-right: 14px;
  font-family: "Digital 7";
  font-size: 78px;
  text-align: center;

}

#tableau {
  position: absolute;
  left: 32px;
  top: 388px;
  width: 636px;
  height: 160px;
  // height: 352px;
  border-radius: 4px;
  border: 1px solid #226;
  background-color: #7292bd;
  font-size: 20px;
}

#row-1 {
  position: absolute;
  left: 256px;
  top: 16px;
  width: 120px;
  height: 54px;
}

#row-2 {
  position: absolute;
  left: 18px;
  top: 94px;
  width: 600px;
  height: 54px;
}

.card {
  // float: left;
  position: absolute;
  width: 20px;
  height: 42px;
  margin: 4px;
  background-color: #b2b6e2;
  border: 1px solid #225;
  border-radius: 2px;
}

.card.picked {
  opacity: 0;
}

.number {
  position: absolute;
  background-color: #bbe;
  padding-top: 6px;
  font-size: 32px;
  text-align: center;
  border: 1px solid #225;
  border-radius: 3px;
}

.number.flipped {
  background-color: #fff;
}

.number.activated {
  background-color: #def;
}

#play-button {
  position: absolute;
  left: 302px;
  top: 140px;
  width: 66px;
  height: 20px;
  background-color: $button-color;
  border: 1px solid $button-border-color;
  border-radius: 6px;
  font-size: 20px;
  padding: 10px;
  padding-top: 6px;
  text-align: center;
}

#play-button:hover {
  background-color: $button-hover-color;
}


#instructions {
  position: absolute;
  left: 142px;
  top: 344px;
  width: 396px;
  height: 18px;
  background-color: #ffd;
  border: 1px solid $button-border-color;
  font-size: 18px;
  padding: 10px;
  padding-top: 4px;
  text-align: center;
}


#solve-button {
  position: absolute;
  left: 242px;
  top: 140px;
  width: 186px;
  height: 20px;
  background-color: $button-color;
  border: 1px solid $button-border-color;
  border-radius: 6px;
  font-size: 20px;
  padding: 10px;
  padding-top: 6px;
  text-align: center;
}

#solve-button:hover {
  background-color: $button-hover-color;
}


#quickstart {
  position: absolute;
  left: 280px;
  top: 140px;
  width: 110px;
  height: 20px;
  background-color: $button-color;
  border: 1px solid $button-border-color;
  border-radius: 6px;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  padding-top: 6px;
}

#quickstart:hover {
  background-color: $button-hover-color;
}

#solution {

  position: absolute;
  left: 60px;
  top: 388px;
  width: 574px;
  height: 84px;
  font-size: 34px;
  text-align: center;
}

#server-state {
  position: absolute;
  top: 4px;
  left: 720px;
  width: 426px;
  height: 782px;
  border: 1px solid;
  background-color: #f2f8ed;
  overflow: scroll;
}